@model IEnumerable<Finalproj.Models.Paiol>

@{
    ViewData["Title"] = "Gestão de Paióis";
}

<h1>Gestão de Paióis</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo paiol</a>
    <a asp-controller="EntradaPaiol" asp-action="Registar" class="btn btn-success">Registar entrada no paiol</a>
    <a asp-action="Movimentos" asp-route-tipo="Entradas" class="btn btn-outline-secondary">Movimentos</a>
    <a asp-controller="Paiol" asp-action="Index" class="btn btn-outline-secondary">Voltar ao Armazém</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Localizacao)</th>
            <th>@Html.DisplayNameFor(model => model.LimiteMLE)</th>
            <th>Perfil de Risco</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Localizacao)</td>
                <td>@Html.DisplayFor(modelItem => item.LimiteMLE) kg</td>
                <td>@item.PerfilRisco</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
