@model IEnumerable<Finalproj.Models.Paiol>

@{
    ViewData["Title"] = "Gest찾o de Pai처is";
}

<h1>Gest찾o de Pai처is</h1>

<p>
    <a asp-action="Create">Criar novo paiol</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Localizacao)</th>
            <th>@Html.DisplayNameFor(model => model.LimiteMLE)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Localizacao)</td>
                <td>@Html.DisplayFor(modelItem => item.LimiteMLE)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
